.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.products-wrapper {
  width: 50%;
}
.logo {
  height: 100px;
  width: 380px;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid black;
}
